html { height: 100% }

body { height: 100%; margin: 0; padding: 0 }

#map_canvas { 
	height: 100%; 
	width:100%;
}
	

#selection
{
  position: absolute;
  top: 10px;  /* adjust value accordingly */
  left: 80%;  /* adjust value accordingly */
}